USE [SOAR]
GO
/****** Object:  UserDefinedFunction [dbo].[GetMonthRate_RMB]    Script Date: 2017/8/30 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[GetMonthRate_RMB](@CUR VARCHAR(3),@WORKDATE VARCHAR(8))
RETURNS NUMERIC(18,10)
AS
BEGIN
  DECLARE @CNY_FCYRATE  NUMERIC(18,10);   --人民币对其他外币汇率
  DECLARE @CNTFLAG      INT;              --记录数标识
  DECLARE @RATEDATE     VARCHAR(8);       --汇率时间
  
  --参数初始化
  SET @CNY_FCYRATE=1;
  
  --判断月汇率表中是否有汇率信息
  SELECT @CNTFLAG = COUNT(RATE_MIDPRICE)
	FROM BI_MONTHEXCHANGERATE
  WHERE RATE_MONTH = DATENAME(YYYY,@WORKDATE) + DATENAME(MM,@WORKDATE)
    AND CUR_CODE = @CUR
  
  IF @CNTFLAG=0 
  --从日汇率中获取汇率
  BEGIN 
    --获取汇率时间
	SELECT @RATEDATE =  MAX(RATE_DATE)
         FROM BI_DAYEXCHANGERATE
    WHERE RATE_DATE <= @WORKDATE
    
	--获取人民币对其他外币汇率
	SELECT @CNY_FCYRATE = RATE_MIDPRICE / CUR_UNIT
		FROM BI_DAYEXCHANGERATE
	WHERE CUR_CODE = @CUR
		AND RATE_DATE = @RATEDATE
		
  END 
  ELSE
  BEGIN
  	--获取人民币对其他外币汇率
	SELECT @CNY_FCYRATE=RATE_MIDPRICE/CUR_UNIT
		FROM BI_MONTHEXCHANGERATE
	WHERE CUR_CODE = @CUR
		AND RATE_MONTH = DATENAME(YYYY,@WORKDATE) + DATENAME(MM,@WORKDATE)
		
  END   
  RETURN @CNY_FCYRATE;
END   



