<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.zz.tbMerchantDetailMapper">
    <select id="selectSeries"  parameterType="java.util.HashMap" resultType="java.util.HashMap">
    ${pageBegin}
        select * from  TB_MERCHANTID
        where 1=1
        <if test="MERCHANT_ID != null &amp;&amp; !&quot;&quot;.equals(MERCHANT_ID)">
            and MERCHANT_ID=#{MERCHANT_ID,jdbcType=VARCHAR} 
        </if>
        <if test="MERCHANT_NAME != null &amp;&amp; !&quot;&quot;.equals(MERCHANT_NAME)">
            and MERCHANT_NAME=#{MERCHANT_NAME,jdbcType=VARCHAR} 
        </if>
    ${pageEnd} 
    </select>
    <select id="selectSeries_totalCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT count(*)
        FROM TB_MERCHANTID
        where 1=1
        <if test="MERCHANT_ID != null &amp;&amp; !&quot;&quot;.equals(MERCHANT_ID)">
            and MERCHANT_ID=#{MERCHANT_ID,jdbcType=VARCHAR} 
        </if>
        <if test="MERCHANT_NAME != null &amp;&amp; !&quot;&quot;.equals(MERCHANT_NAME)">
            and MERCHANT_NAME=#{MERCHANT_NAME,jdbcType=VARCHAR} 
        </if>
    </select>
    
</mapper>