<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.zz.tbMerchantTempMapper">
    <select id="MerchanttempByMerchant_id" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        ${pageBegin}
        SELECT count(*)
        FROM tb_merchantid_temp
        WHERE
        MERCHANT_ID = #{MERCHANT_ID}
        ${pageEnd}
    </select>
    
    <insert id="CopyMerchant" parameterType="java.util.HashMap">
        INSERT INTO tb_merchantid_temp (
        MERCHANT_ID,MERCHANT_NAME,CREAT_TIME,CREATOR,OP_FLAG
        ) VALUES(
        #{MERCHANT_ID,jdbcType=VARCHAR},
        #{MERCHANT_NAME,jdbcType=VARCHAR},
        #{CREAT_TIME,jdbcType=VARCHAR},
        #{CREATOR,jdbcType=VARCHAR},
        #{OP_FLAG,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateMerchantTemp" parameterType="java.util.HashMap" >
        UPDATE tb_merchantid_temp
        SET MERCHANT_NAME = #{MERCHANT_NAME}
        WHERE MERCHANT_ID = #{MERCHANT_ID}
    </update>

    <insert id="addMerchant" parameterType="java.util.HashMap" >
        INSERT INTO tb_merchantid_temp 
            (MERCHANT_ID,MERCHANT_NAME,CREAT_TIME,CREATOR,OP_FLAG,FILLER1,FILLER2,FILLER3) 
        VALUES 
            (#{MERCHANT_ID,jdbcType=VARCHAR},#{MERCHANT_NAME,jdbcType=VARCHAR},#{CREAT_TIME,jdbcType=VARCHAR},
            #{CREATOR,jdbcType=VARCHAR},#{OP_FLAG,jdbcType=VARCHAR},#{FILLER1,jdbcType=VARCHAR},
            #{FILLER2,jdbcType=VARCHAR},#{FILLER3,jdbcType=VARCHAR})
    </insert>

</mapper>
