<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.mapper.zz.br.ConsumptioncMapper">
    <insert id="insert" parameterType="java.util.HashMap">
        INSERT INTO ZZ_CONSUMPTION_C 
        (
            MARKING_CODE,CREATE_TIME,MAIL,FLAG_CONSUMPTION_C,CONS_CONT,CONS_TIME_RECENT,CONS_TOT_M3_VISITS,
            CONS_TOT_M3_NUM,CONS_TOT_M3_PAY,CONS_TOT_M3_P_CATENUM,CONS_TOT_M3_V_CATENUM,CONS_TOT_M12_VISITS,
            CONS_TOT_M12_NUM,CONS_TOT_M12_PAY,CONS_MAX_M12_PAYCATE,CONS_M3_RYBH_NUM,CONS_M3_RYBH_PAY,
            CONS_M3_JYDQ_NUM,CONS_M3_JYDQ_PAY,CONS_M3_MYYP_NUM,CONS_M3_MYYP_PAY,CONS_M12_RYBH_NUM,
            CONS_M12_JYDQ_PAY,CONS_M12_MYYP_NUM,CONS_M12_MYYP_PAY,IDS
        )

        VALUES(
            #{MARKING_CODE,jdbcType=VARCHAR},#{TIME,jdbcType=VARCHAR},#{MAIL,jdbcType=VARCHAR},
            #{FLAG_CONSUMPTION_C,jdbcType=VARCHAR},#{CONS_CONT,jdbcType=VARCHAR},#{CONS_TIME_RECENT,jdbcType=VARCHAR},
            #{CONS_TOT_M3_VISITS,jdbcType=VARCHAR},#{CONS_TOT_M3_NUM,jdbcType=VARCHAR},#{CONS_TOT_M3_PAY,jdbcType=VARCHAR},
            #{CONS_TOT_M3_P_CATENUM,jdbcType=VARCHAR},#{CONS_TOT_M3_V_CATENUM,jdbcType=VARCHAR},
            #{CONS_TOT_M12_VISITS,jdbcType=VARCHAR},#{CONS_TOT_M12_NUM,jdbcType=VARCHAR},#{CONS_TOT_M12_PAY,jdbcType=VARCHAR},
            #{CONS_MAX_M12_PAYCATE,jdbcType=VARCHAR},#{CONS_M3_RYBH_NUM,jdbcType=VARCHAR},#{CONS_M3_RYBH_PAY,jdbcType=VARCHAR},
            #{CONS_M3_JYDQ_NUM,jdbcType=VARCHAR},#{CONS_M3_JYDQ_PAY,jdbcType=VARCHAR},#{CONS_M3_MYYP_NUM,jdbcType=VARCHAR},
            #{CONS_M3_MYYP_PAY,jdbcType=VARCHAR},#{CONS_M12_RYBH_NUM,jdbcType=VARCHAR},#{CONS_M12_JYDQ_PAY,jdbcType=VARCHAR},
            #{CONS_M12_MYYP_NUM,jdbcType=VARCHAR},#{CONS_M12_MYYP_PAY,jdbcType=VARCHAR},#{ID,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="intsertConsumptioncS" parameterType="java.util.HashMap">
        INSERT INTO ZZ_CONSUMPTION_C_S
        (
            MARKING_CODE,CREATE_TIME,MAIL,FLAG_CONSUMPTION_C,CONS_CONT,CONS_TIME_RECENT,CONS_TOT_M3_VISITS,
            CONS_TOT_M3_NUM,CONS_TOT_M3_PAY,CONS_TOT_M3_P_CATENUM,CONS_TOT_M3_V_CATENUM,CONS_TOT_M12_VISITS,
            CONS_TOT_M12_NUM,CONS_TOT_M12_PAY,CONS_MAX_M12_PAYCATE,CONS_M3_RYBH_NUM,CONS_M3_RYBH_PAY,
            CONS_M3_JYDQ_NUM,CONS_M3_JYDQ_PAY,CONS_M3_MYYP_NUM,CONS_M3_MYYP_PAY,CONS_M12_RYBH_NUM,
            CONS_M12_JYDQ_PAY,CONS_M12_MYYP_NUM,CONS_M12_MYYP_PAY,IDS
        )

        VALUES(
            #{MARKING_CODE,jdbcType=VARCHAR},#{TIME,jdbcType=VARCHAR},#{MAIL,jdbcType=VARCHAR},
            #{FLAG_CONSUMPTION_C,jdbcType=VARCHAR},#{CONS_CONT,jdbcType=VARCHAR},#{CONS_TIME_RECENT,jdbcType=VARCHAR},
            #{CONS_TOT_M3_VISITS,jdbcType=VARCHAR},#{CONS_TOT_M3_NUM,jdbcType=VARCHAR},#{CONS_TOT_M3_PAY,jdbcType=VARCHAR},
            #{CONS_TOT_M3_P_CATENUM,jdbcType=VARCHAR},#{CONS_TOT_M3_V_CATENUM,jdbcType=VARCHAR},
            #{CONS_TOT_M12_VISITS,jdbcType=VARCHAR},#{CONS_TOT_M12_NUM,jdbcType=VARCHAR},#{CONS_TOT_M12_PAY,jdbcType=VARCHAR},
            #{CONS_MAX_M12_PAYCATE,jdbcType=VARCHAR},#{CONS_M3_RYBH_NUM,jdbcType=VARCHAR},#{CONS_M3_RYBH_PAY,jdbcType=VARCHAR},
            #{CONS_M3_JYDQ_NUM,jdbcType=VARCHAR},#{CONS_M3_JYDQ_PAY,jdbcType=VARCHAR},#{CONS_M3_MYYP_NUM,jdbcType=VARCHAR},
            #{CONS_M3_MYYP_PAY,jdbcType=VARCHAR},#{CONS_M12_RYBH_NUM,jdbcType=VARCHAR},#{CONS_M12_JYDQ_PAY,jdbcType=VARCHAR},
            #{CONS_M12_MYYP_NUM,jdbcType=VARCHAR},#{CONS_M12_MYYP_PAY,jdbcType=VARCHAR},#{ID,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateConsumptioncS" parameterType="java.util.HashMap">
        UPDATE
            ZZ_CONSUMPTION_C_S
        SET
            MARKING_CODE=#{MARKING_CODE,jdbcType=VARCHAR},CREATE_TIME=#{TIME,jdbcType=VARCHAR},MAIL=#{MAIL,jdbcType=VARCHAR},
            FLAG_CONSUMPTION_C=#{FLAG_CONSUMPTION_C,jdbcType=VARCHAR},CONS_CONT=#{CONS_CONT,jdbcType=VARCHAR},
            CONS_TIME_RECENT=#{CONS_TIME_RECENT,jdbcType=VARCHAR},CONS_TOT_M3_VISITS=#{CONS_TOT_M3_VISITS,jdbcType=VARCHAR},
            CONS_TOT_M3_NUM=#{CONS_TOT_M3_NUM,jdbcType=VARCHAR},CONS_TOT_M3_PAY=#{CONS_TOT_M3_PAY,jdbcType=VARCHAR},
            CONS_TOT_M3_P_CATENUM=#{CONS_TOT_M3_P_CATENUM,jdbcType=VARCHAR},CONS_TOT_M3_V_CATENUM=#{CONS_TOT_M3_V_CATENUM,jdbcType=VARCHAR},
            CONS_TOT_M12_VISITS=#{CONS_TOT_M12_VISITS,jdbcType=VARCHAR},CONS_TOT_M12_NUM=#{CONS_TOT_M12_NUM,jdbcType=VARCHAR},
            CONS_TOT_M12_PAY=#{CONS_TOT_M12_PAY,jdbcType=VARCHAR},CONS_MAX_M12_PAYCATE=#{CONS_MAX_M12_PAYCATE,jdbcType=VARCHAR},
            CONS_M3_RYBH_NUM=#{CONS_M3_RYBH_NUM,jdbcType=VARCHAR},CONS_M3_RYBH_PAY=#{CONS_M3_RYBH_PAY,jdbcType=VARCHAR},
            CONS_M3_JYDQ_NUM=#{CONS_M3_JYDQ_NUM,jdbcType=VARCHAR},CONS_M3_JYDQ_PAY=#{CONS_M3_JYDQ_PAY,jdbcType=VARCHAR},
            CONS_M3_MYYP_NUM=#{CONS_M3_MYYP_NUM,jdbcType=VARCHAR},CONS_M3_MYYP_PAY=#{CONS_M3_MYYP_PAY,jdbcType=VARCHAR},
            CONS_M12_RYBH_NUM=#{CONS_M12_RYBH_NUM,jdbcType=VARCHAR},CONS_M12_JYDQ_PAY=#{CONS_M12_JYDQ_PAY,jdbcType=VARCHAR},
            CONS_M12_MYYP_NUM=#{CONS_M12_MYYP_NUM,jdbcType=VARCHAR},CONS_M12_MYYP_PAY=#{CONS_M12_MYYP_PAY,jdbcType=VARCHAR},IDS=#{ID,jdbcType=VARCHAR}

        WHERE
            MARKING_CODE = #{MARKING_CODE,jdbcType=VARCHAR}
    </update>

    <select id="selectByCode" parameterType="String" resultType="java.util.HashMap">
        SELECT
             MARKING_CODE,CREATE_TIME,MAIL,FLAG_CONSUMPTION_C,CONS_CONT,CONS_TIME_RECENT,CONS_TOT_M3_VISITS,CONS_TOT_M3_NUM,
             CONS_TOT_M3_PAY,CONS_TOT_M3_P_CATENUM,CONS_TOT_M3_V_CATENUM,CONS_TOT_M12_VISITS,CONS_TOT_M12_NUM,CONS_TOT_M12_PAY,
             CONS_MAX_M12_PAYCATE,CONS_M3_RYBH_NUM,CONS_M3_RYBH_PAY,CONS_M3_JYDQ_NUM,CONS_M3_JYDQ_PAY,CONS_M3_MYYP_NUM,
             CONS_M3_MYYP_PAY,CONS_M12_RYBH_NUM,CONS_M12_JYDQ_PAY,CONS_M12_MYYP_NUM,CONS_M12_MYYP_PAY,IDS
        FROM
            ZZ_CONSUMPTION_C_S
        WHERE
            MARKING_CODE = #{marking_cod}
    </select>
</mapper>