<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.mapper.zz.bc.BCVehInsuranceMapper">
    <!-- 插入车辆续保信息 -->
    <insert id="insert" parameterType="java.util.HashMap">
        INSERT INTO 
            ZZ_VEHINSURANCE
        (
            FLAG_VEHINSURANCE,SUCCESS,RESULT,BUSINESSSTATUS,STATUSMESSAGE,CARUSEDTYPE,LICENSENO,LICENSEOWNER,
            POSTEDNAME,INSUREDNAME,PURCHASEPRICE,IDTYPE,CREDENTISLASNUM,CITYCODE,ENGINENO,REGISTERDATE,CARVIN,
            FORCEEXPIREDATE,BUSINESSEXPIREDATE,NEXTFORCESTARTDATE,NEXTBUSINESSSTARTDATE,SEATCOUNT,INSUREDIDCARD,
            INSUREDIDTYPE,INSUREDMOBILE,HOLDERIDCARD,HOLDERIDTYPE,HOLDERMOBILE,RATEFACTOR1,RATEFACTOR2,RATEFACTOR3,
            RATEFACTOR4,FUELTYPE,PROOFTYPE,CLAUSETYPE,LICENSECOLOR,RUNREGION,ISPUBLIC,BIZNO,FORCENO,SOURCE,CHESUN,
            SANZHE,DAOQIANG,SIJI,CHENGKE,BOLI,HUAHEN,BUJIMIANCHESUN,BUJIMIANSANZHE,BUJIMIANDAOQIANG,SHESHUI,ZIRAN,
            BUJIMIANCHENGKE,BUJIMIANSIJI,BUJIMIANHUAHEN,BUJIMIANSHESHUI,BUJIMIANZIRAN,BUJIMIANJINGSHENSUNSHI,
            HCSANFANGTEYUE,HCJINGSHENSUNSHI,COSTTIME,SID,MODLENAME,CREATE_TIME,MARKING_CODE
        )  
        VALUES(
            #{FLAG_VEHINSURANCE,jdbcType=VARCHAR},#{SUCCESS,jdbcType=VARCHAR},#{RESULT,jdbcType=VARCHAR},
            #{BUSINESSSTATUS,jdbcType=VARCHAR},#{STATUSMESSAGE,jdbcType=VARCHAR},#{CARUSEDTYPE,jdbcType=VARCHAR},
            #{LICENSENO,jdbcType=VARCHAR},#{LICENSEOWNER,jdbcType=VARCHAR},#{POSTEDNAME,jdbcType=VARCHAR},
            #{INSUREDNAME,jdbcType=VARCHAR},#{PURCHASEPRICE,jdbcType=VARCHAR},#{IDTYPE,jdbcType=VARCHAR},
            #{CREDENTISLASNUM,jdbcType=VARCHAR},#{CITYCODE,jdbcType=VARCHAR},#{ENGINENO,jdbcType=VARCHAR},
            #{REGISTERDATE,jdbcType=VARCHAR},#{CARVIN,jdbcType=VARCHAR},#{FORCEEXPIREDATE,jdbcType=VARCHAR},
            #{BUSINESSEXPIREDATE,jdbcType=VARCHAR},#{NEXTFORCESTARTDATE,jdbcType=VARCHAR},#{NEXTBUSINESSSTARTDATE,jdbcType=VARCHAR},
            #{SEATCOUNT,jdbcType=VARCHAR},#{INSUREDIDCARD,jdbcType=VARCHAR},#{INSUREDIDTYPE,jdbcType=VARCHAR},
            #{INSUREDMOBILE,jdbcType=VARCHAR},#{HOLDERIDCARD,jdbcType=VARCHAR},#{HOLDERIDTYPE,jdbcType=VARCHAR},
            #{HOLDERMOBILE,jdbcType=VARCHAR},#{RATEFACTOR1,jdbcType=VARCHAR},#{RATEFACTOR2,jdbcType=VARCHAR},
            #{RATEFACTOR3,jdbcType=VARCHAR},#{RATEFACTOR4,jdbcType=VARCHAR},#{FUELTYPE,jdbcType=VARCHAR},
            #{PROOFTYPE,jdbcType=VARCHAR},#{CLAUSETYPE,jdbcType=VARCHAR},#{LICENSECOLOR,jdbcType=VARCHAR},
            #{RUNREGION,jdbcType=VARCHAR},#{ISPUBLIC,jdbcType=VARCHAR},#{BIZNO,jdbcType=VARCHAR},#{FORCENO,jdbcType=VARCHAR},
            #{SOURCE,jdbcType=VARCHAR},#{CHESUN,jdbcType=VARCHAR},#{SANZHE,jdbcType=VARCHAR},#{DAOQIANG,jdbcType=VARCHAR},
            #{SIJI,jdbcType=VARCHAR},#{CHENGKE,jdbcType=VARCHAR},#{BOLI,jdbcType=VARCHAR},#{HUAHEN,jdbcType=VARCHAR},
            #{BUJIMIANCHESUN,jdbcType=VARCHAR},#{BUJIMIANSANZHE,jdbcType=VARCHAR},#{BUJIMIANDAOQIANG,jdbcType=VARCHAR},
            #{SHESHUI,jdbcType=VARCHAR},#{ZIRAN,jdbcType=VARCHAR},#{BUJIMIANCHENGKE,jdbcType=VARCHAR},
            #{BUJIMIANSIJI,jdbcType=VARCHAR},#{BUJIMIANHUAHEN,jdbcType=VARCHAR},#{BUJIMIANSHESHUI,jdbcType=VARCHAR},
            #{BUJIMIANZIRAN,jdbcType=VARCHAR},#{BUJIMIANJINGSHENSUNSHI,jdbcType=VARCHAR},#{HCSANFANGTEYUE,jdbcType=VARCHAR},
            #{HCJINGSHENSUNSHI,jdbcType=VARCHAR},#{COSTTIME,jdbcType=VARCHAR},#{SID,jdbcType=VARCHAR},#{MODLENAME,jdbcType=VARCHAR},
            #{CREATE_TIME,jdbcType=VARCHAR},#{MARKING_CODE,jdbcType=VARCHAR}
        ) 
    </insert>

    <insert id="insertS" parameterType="java.util.HashMap">
        INSERT INTO 
            ZZ_VEHINSURANCE_S
        (
            FLAG_VEHINSURANCE,SUCCESS,RESULT,BUSINESSSTATUS,STATUSMESSAGE,CARUSEDTYPE,LICENSENO,LICENSEOWNER,
            POSTEDNAME,INSUREDNAME,PURCHASEPRICE,IDTYPE,CREDENTISLASNUM,CITYCODE,ENGINENO,REGISTERDATE,CARVIN,
            FORCEEXPIREDATE,BUSINESSEXPIREDATE,NEXTFORCESTARTDATE,NEXTBUSINESSSTARTDATE,SEATCOUNT,INSUREDIDCARD,
            INSUREDIDTYPE,INSUREDMOBILE,HOLDERIDCARD,HOLDERIDTYPE,HOLDERMOBILE,RATEFACTOR1,RATEFACTOR2,RATEFACTOR3,
            RATEFACTOR4,FUELTYPE,PROOFTYPE,CLAUSETYPE,LICENSECOLOR,RUNREGION,ISPUBLIC,BIZNO,FORCENO,SOURCE,CHESUN,
            SANZHE,DAOQIANG,SIJI,CHENGKE,BOLI,HUAHEN,BUJIMIANCHESUN,BUJIMIANSANZHE,BUJIMIANDAOQIANG,SHESHUI,ZIRAN,
            BUJIMIANCHENGKE,BUJIMIANSIJI,BUJIMIANHUAHEN,BUJIMIANSHESHUI,BUJIMIANZIRAN,BUJIMIANJINGSHENSUNSHI,
            HCSANFANGTEYUE,HCJINGSHENSUNSHI,COSTTIME,SID,MODLENAME,CREATE_TIME,MARKING_CODE
        )  
        VALUES(
            #{FLAG_VEHINSURANCE,jdbcType=VARCHAR},#{SUCCESS,jdbcType=VARCHAR},#{RESULT,jdbcType=VARCHAR},
            #{BUSINESSSTATUS,jdbcType=VARCHAR},#{STATUSMESSAGE,jdbcType=VARCHAR},#{CARUSEDTYPE,jdbcType=VARCHAR},
            #{LICENSENO,jdbcType=VARCHAR},#{LICENSEOWNER,jdbcType=VARCHAR},#{POSTEDNAME,jdbcType=VARCHAR},
            #{INSUREDNAME,jdbcType=VARCHAR},#{PURCHASEPRICE,jdbcType=VARCHAR},#{IDTYPE,jdbcType=VARCHAR},
            #{CREDENTISLASNUM,jdbcType=VARCHAR},#{CITYCODE,jdbcType=VARCHAR},#{ENGINENO,jdbcType=VARCHAR},
            #{REGISTERDATE,jdbcType=VARCHAR},#{CARVIN,jdbcType=VARCHAR},#{FORCEEXPIREDATE,jdbcType=VARCHAR},
            #{BUSINESSEXPIREDATE,jdbcType=VARCHAR},#{NEXTFORCESTARTDATE,jdbcType=VARCHAR},#{NEXTBUSINESSSTARTDATE,jdbcType=VARCHAR},
            #{SEATCOUNT,jdbcType=VARCHAR},#{INSUREDIDCARD,jdbcType=VARCHAR},#{INSUREDIDTYPE,jdbcType=VARCHAR},
            #{INSUREDMOBILE,jdbcType=VARCHAR},#{HOLDERIDCARD,jdbcType=VARCHAR},#{HOLDERIDTYPE,jdbcType=VARCHAR},
            #{HOLDERMOBILE,jdbcType=VARCHAR},#{RATEFACTOR1,jdbcType=VARCHAR},#{RATEFACTOR2,jdbcType=VARCHAR},
            #{RATEFACTOR3,jdbcType=VARCHAR},#{RATEFACTOR4,jdbcType=VARCHAR},#{FUELTYPE,jdbcType=VARCHAR},
            #{PROOFTYPE,jdbcType=VARCHAR},#{CLAUSETYPE,jdbcType=VARCHAR},#{LICENSECOLOR,jdbcType=VARCHAR},
            #{RUNREGION,jdbcType=VARCHAR},#{ISPUBLIC,jdbcType=VARCHAR},#{BIZNO,jdbcType=VARCHAR},#{FORCENO,jdbcType=VARCHAR},
            #{SOURCE,jdbcType=VARCHAR},#{CHESUN,jdbcType=VARCHAR},#{SANZHE,jdbcType=VARCHAR},#{DAOQIANG,jdbcType=VARCHAR},
            #{SIJI,jdbcType=VARCHAR},#{CHENGKE,jdbcType=VARCHAR},#{BOLI,jdbcType=VARCHAR},#{HUAHEN,jdbcType=VARCHAR},
            #{BUJIMIANCHESUN,jdbcType=VARCHAR},#{BUJIMIANSANZHE,jdbcType=VARCHAR},#{BUJIMIANDAOQIANG,jdbcType=VARCHAR},
            #{SHESHUI,jdbcType=VARCHAR},#{ZIRAN,jdbcType=VARCHAR},#{BUJIMIANCHENGKE,jdbcType=VARCHAR},
            #{BUJIMIANSIJI,jdbcType=VARCHAR},#{BUJIMIANHUAHEN,jdbcType=VARCHAR},#{BUJIMIANSHESHUI,jdbcType=VARCHAR},
            #{BUJIMIANZIRAN,jdbcType=VARCHAR},#{BUJIMIANJINGSHENSUNSHI,jdbcType=VARCHAR},#{HCSANFANGTEYUE,jdbcType=VARCHAR},
            #{HCJINGSHENSUNSHI,jdbcType=VARCHAR},#{COSTTIME,jdbcType=VARCHAR},#{SID,jdbcType=VARCHAR},#{MODLENAME,jdbcType=VARCHAR},
            #{CREATE_TIME,jdbcType=VARCHAR},#{MARKING_CODE,jdbcType=VARCHAR}
        ) 
    </insert>

    <update id="updateS" parameterType="java.util.HashMap">
        UPDATE
            ZZ_VEHINSURANCE_S
        SET
            FLAG_VEHINSURANCE=#{FLAG_VEHINSURANCE,jdbcType=VARCHAR},SUCCESS=#{SUCCESS,jdbcType=VARCHAR},
            RESULT=#{RESULT,jdbcType=VARCHAR},BUSINESSSTATUS=#{BUSINESSSTATUS,jdbcType=VARCHAR},
            STATUSMESSAGE=#{STATUSMESSAGE,jdbcType=VARCHAR},CARUSEDTYPE=#{CARUSEDTYPE,jdbcType=VARCHAR},
            LICENSENO=#{LICENSENO,jdbcType=VARCHAR},LICENSEOWNER=#{LICENSEOWNER,jdbcType=VARCHAR},
            POSTEDNAME=#{POSTEDNAME,jdbcType=VARCHAR},INSUREDNAME=#{INSUREDNAME,jdbcType=VARCHAR},
            PURCHASEPRICE=#{PURCHASEPRICE,jdbcType=VARCHAR},IDTYPE=#{IDTYPE,jdbcType=VARCHAR},
            CREDENTISLASNUM=#{CREDENTISLASNUM,jdbcType=VARCHAR},CITYCODE=#{CITYCODE,jdbcType=VARCHAR},
            ENGINENO=#{ENGINENO,jdbcType=VARCHAR},REGISTERDATE=#{REGISTERDATE,jdbcType=VARCHAR},
            CARVIN=#{CARVIN,jdbcType=VARCHAR},FORCEEXPIREDATE=#{FORCEEXPIREDATE,jdbcType=VARCHAR},
            BUSINESSEXPIREDATE=#{BUSINESSEXPIREDATE,jdbcType=VARCHAR},NEXTFORCESTARTDATE=#{NEXTFORCESTARTDATE,jdbcType=VARCHAR},
            NEXTBUSINESSSTARTDATE=#{NEXTBUSINESSSTARTDATE,jdbcType=VARCHAR},SEATCOUNT=#{SEATCOUNT,jdbcType=VARCHAR},
            INSUREDIDCARD=#{INSUREDIDCARD,jdbcType=VARCHAR},INSUREDIDTYPE=#{INSUREDIDTYPE,jdbcType=VARCHAR},
            INSUREDMOBILE=#{INSUREDMOBILE,jdbcType=VARCHAR},HOLDERIDCARD=#{HOLDERIDCARD,jdbcType=VARCHAR},
            HOLDERIDTYPE=#{HOLDERIDTYPE,jdbcType=VARCHAR},HOLDERMOBILE=#{HOLDERMOBILE,jdbcType=VARCHAR},
            RATEFACTOR1=#{RATEFACTOR1,jdbcType=VARCHAR},RATEFACTOR2=#{RATEFACTOR2,jdbcType=VARCHAR},
            RATEFACTOR3=#{RATEFACTOR3,jdbcType=VARCHAR},RATEFACTOR4=#{RATEFACTOR4,jdbcType=VARCHAR},
            FUELTYPE=#{FUELTYPE,jdbcType=VARCHAR},PROOFTYPE=#{PROOFTYPE,jdbcType=VARCHAR},CLAUSETYPE=#{CLAUSETYPE,jdbcType=VARCHAR},
            LICENSECOLOR=#{LICENSECOLOR,jdbcType=VARCHAR},RUNREGION=#{RUNREGION,jdbcType=VARCHAR},
            ISPUBLIC=#{ISPUBLIC,jdbcType=VARCHAR},BIZNO=#{BIZNO,jdbcType=VARCHAR},FORCENO=#{FORCENO,jdbcType=VARCHAR},
            SOURCE=#{SOURCE,jdbcType=VARCHAR},CHESUN=#{CHESUN,jdbcType=VARCHAR},SANZHE=#{SANZHE,jdbcType=VARCHAR},
            DAOQIANG=#{DAOQIANG,jdbcType=VARCHAR},SIJI=#{SIJI,jdbcType=VARCHAR},CHENGKE=#{CHENGKE,jdbcType=VARCHAR},
            BOLI=#{BOLI,jdbcType=VARCHAR},HUAHEN=#{HUAHEN,jdbcType=VARCHAR},BUJIMIANCHESUN=#{BUJIMIANCHESUN,jdbcType=VARCHAR},
            BUJIMIANSANZHE=#{BUJIMIANSANZHE,jdbcType=VARCHAR},BUJIMIANDAOQIANG=#{BUJIMIANDAOQIANG,jdbcType=VARCHAR},
            SHESHUI=#{SHESHUI,jdbcType=VARCHAR},ZIRAN=#{ZIRAN,jdbcType=VARCHAR},BUJIMIANCHENGKE=#{BUJIMIANCHENGKE,jdbcType=VARCHAR},
            BUJIMIANSIJI=#{BUJIMIANSIJI,jdbcType=VARCHAR},BUJIMIANHUAHEN=#{BUJIMIANHUAHEN,jdbcType=VARCHAR},
            BUJIMIANSHESHUI=#{BUJIMIANSHESHUI,jdbcType=VARCHAR},BUJIMIANZIRAN=#{BUJIMIANZIRAN,jdbcType=VARCHAR},
            BUJIMIANJINGSHENSUNSHI=#{BUJIMIANJINGSHENSUNSHI,jdbcType=VARCHAR},HCSANFANGTEYUE=#{HCSANFANGTEYUE,jdbcType=VARCHAR},
            HCJINGSHENSUNSHI=#{HCJINGSHENSUNSHI,jdbcType=VARCHAR},COSTTIME=#{COSTTIME,jdbcType=VARCHAR},
            SID=#{SID,jdbcType=VARCHAR},MODLENAME=#{MODLENAME,jdbcType=VARCHAR},CREATE_TIME=#{CREATE_TIME,jdbcType=VARCHAR},
            MARKING_CODE=#{MARKING_CODE,jdbcType=VARCHAR}
        WHERE
            MARKING_CODE = #{MARKING_CODE,jdbcType=VARCHAR}
    </update>

    <select id="selectByCode" parameterType="String" resultType="java.util.HashMap">
        SELECT
            FLAG_VEHINSURANCE,SUCCESS,RESULT,BUSINESSSTATUS,STATUSMESSAGE,CARUSEDTYPE,LICENSENO,LICENSEOWNER,
            POSTEDNAME,INSUREDNAME,PURCHASEPRICE,IDTYPE,CREDENTISLASNUM,CITYCODE,ENGINENO,REGISTERDATE,CARVIN,
            FORCEEXPIREDATE,BUSINESSEXPIREDATE,NEXTFORCESTARTDATE,NEXTBUSINESSSTARTDATE,SEATCOUNT,INSUREDIDCARD,
            INSUREDIDTYPE,INSUREDMOBILE,HOLDERIDCARD,HOLDERIDTYPE,HOLDERMOBILE,RATEFACTOR1,RATEFACTOR2,RATEFACTOR3,
            RATEFACTOR4,FUELTYPE,PROOFTYPE,CLAUSETYPE,LICENSECOLOR,RUNREGION,ISPUBLIC,BIZNO,FORCENO,SOURCE,CHESUN,
            SANZHE,DAOQIANG,SIJI,CHENGKE,BOLI,HUAHEN,BUJIMIANCHESUN,BUJIMIANSANZHE,BUJIMIANDAOQIANG,SHESHUI,ZIRAN,
            BUJIMIANCHENGKE,BUJIMIANSIJI,BUJIMIANHUAHEN,BUJIMIANSHESHUI,BUJIMIANZIRAN,BUJIMIANJINGSHENSUNSHI,
            HCSANFANGTEYUE,HCJINGSHENSUNSHI,COSTTIME,SID,MODLENAME,CREATE_TIME,MARKING_CODE
        FROM
            ZZ_VEHINSURANCE_S
        WHERE
            MARKING_CODE = #{marking_cod}
    </select>
</mapper>