<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orm.mapper.zz.br.LocationMapper">
    
    <insert id="insert" parameterType="java.util.HashMap">
        INSERT INTO 
            ZZ_LOCATION
        (
        SEQ,ID_CODE,CELL,NAME,BIZ_ADDR,HOME_ADDR,PER_ADDR,APPLY_ADDR,OTH_ADDR,FLAG_LOCATION,
        LOCATION_BIZ_ADDR1,LOCATION_BIZ_ADDR2,LOCATION_BIZ_ADDR3,LOCATION_BIZ_ADDR4,LOCATION_BIZ_ADDR5,
        LOCATION_HOME_ADDR1,LOCATION_HOME_ADDR2,LOCATION_HOME_ADDR3,LOCATION_HOME_ADDR4,
        LOCATION_HOME_ADDR5,LOCATION_PER_ADDR1,LOCATION_PER_ADDR2,LOCATION_PER_ADDR3,
        LOCATION_PER_ADDR4,LOCATION_PER_ADDR5,LOCATION_APPLY_ADDR1,LOCATION_APPLY_ADDR2,
        LOCATION_APPLY_ADDR3,LOCATION_APPLY_ADDR4,LOCATION_APPLY_ADDR5,LOCATION_OTH_ADDR1,
        LOCATION_OTH_ADDR2,LOCATION_OTH_ADDR3,LOCATION_OTH_ADDR4,LOCATION_OTH_ADDR5
        )
        VALUES(
        #{SEQ,jdbcType=VARCHAR},#{ID_CODE,jdbcType=VARCHAR},#{CELL,jdbcType=VARCHAR},
        #{NAME,jdbcType=VARCHAR},#{BIZ_ADDR,jdbcType=VARCHAR},#{HOME_ADDR,jdbcType=VARCHAR},
        #{PER_ADDR,jdbcType=VARCHAR},#{APPLY_ADDR,jdbcType=VARCHAR},#{OTH_ADDR,jdbcType=VARCHAR},
        #{FLAG_LOCATION,jdbcType=VARCHAR},#{LOCATION_BIZ_ADDR1,jdbcType=VARCHAR},
        #{LOCATION_BIZ_ADDR2,jdbcType=VARCHAR},#{LOCATION_BIZ_ADDR3,jdbcType=VARCHAR},
        #{LOCATION_BIZ_ADDR4,jdbcType=VARCHAR},#{LOCATION_BIZ_ADDR5,jdbcType=VARCHAR},
        #{LOCATION_HOME_ADDR1,jdbcType=VARCHAR},#{LOCATION_HOME_ADDR2,jdbcType=VARCHAR},
        #{LOCATION_HOME_ADDR3,jdbcType=VARCHAR},#{LOCATION_HOME_ADDR4,jdbcType=VARCHAR},
        #{LOCATION_HOME_ADDR5,jdbcType=VARCHAR},#{LOCATION_PER_ADDR1,jdbcType=VARCHAR},
        #{LOCATION_PER_ADDR2,jdbcType=VARCHAR},#{LOCATION_PER_ADDR3,jdbcType=VARCHAR},
        #{LOCATION_PER_ADDR4,jdbcType=VARCHAR},#{LOCATION_PER_ADDR5,jdbcType=VARCHAR},
        #{LOCATION_APPLY_ADDR1, jdbcType=VARCHAR},#{LOCATION_APPLY_ADDR2, jdbcType=VARCHAR},
        #{LOCATION_APPLY_ADDR3, jdbcType=VARCHAR},#{LOCATION_APPLY_ADDR4, jdbcType=VARCHAR},
        #{LOCATION_APPLY_ADDR5, jdbcType=VARCHAR},#{LOCATION_OTH_ADDR1,jdbcType=VARCHAR},
        #{LOCATION_OTH_ADDR2,jdbcType=VARCHAR},#{LOCATION_OTH_ADDR3,jdbcType=VARCHAR},
        #{LOCATION_OTH_ADDR4,jdbcType=VARCHAR},#{LOCATION_OTH_ADDR5,jdbcType=VARCHAR}
        ) 
    </insert>
    
</mapper>